JELLYFIN_VERSION=10.10.3

JELLYFIN_CONFIG_DIR=/absolute/path/to/jellyfin/config
JELLYFIN_MEDIA_DIR=

BACKUP_EXISTING_CONFIG=1
BACKUP_EXISTING_MEDIA=0

BACKUPS=backup
CONFIG_TAR=jellyfin.config.tgz
MEDIA_TAR=jellyfin.media.tgz
